.game {
  display: flex;
  .playing-panel {
    flex: 1;
    background-color: #333333;
    .your-result {
      height: 360px;
      background-color: #ffcdd2;
      padding: 36px;
      text-align: center;
      .title {
        font-size: 18px;
        margin-bottom: 36px;
      }
      .result {
        margin-top: 36px;
      }
    }
    .guess-card {
      height: 360px;
      background-color: #e1bee7;
      padding: 36px;
      text-align: center;
      .title {
        font-size: 18px;
      }
      .guess-input {
        height: 32px;
        width: 192px;
        outline: none;
        margin: 36px 0;
      }
    }
  }
  .control-wrapper {
    flex: 0 0 520px;
    height: auto;
    background-color: #bbdefb;
  }
}